<html lang="en">

<head>
    <title>Room Booking Status</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" th:href="@{/icons/clipboard-regular.svg}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" crossorigin="anonymous">
    <style>
        .next-booking {
            display: inline-block;
            padding: 0.2rem;
        }
    </style>
</head>

<body>
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="d-flex flex-column">
                <div th:each="locationInfo, iter: ${allLocationInfos}">
                    <div th:if="${iter.index != 0}" style="padding: 20px;">
                        <hr style="width: 50%; margin: auto;">
                    </div>

                    <div class="p-2 text-center">
                        <h5 class="display-5" th:text="${locationInfo.location.title}"></h5>
                    </div>

                    <div class="row">
                        <div th:class="${locationInfo.location.qrCodeURI != null ? 'col-9' : 'col-12'}">
                            <div class="p-2 text-center" th:switch="${locationInfo.runningEvent == null}">
                                <h2 th:case="true" class="alert alert-success">Room is available right now</h2>
                                <h2 th:case="false" class="alert alert-danger">Reserved until
                                    <strong>[(${locationInfo.runningEvent.endDateTimeStr})]</strong></h2>
                            </div>

                            <div class="p-2 text-center" th:if="${locationInfo.exactNextEvent != null}">
                                <h6 class="alert alert-warning next-booking">Next booking is at
                                    <strong>[(${locationInfo.exactNextEvent.startDateTimeStr})]</strong>.
                                    You maybe asked to leave at that time.</h6>
                            </div>

                            <div class="p-2">
                                <h6 class="text-center" th:if="${not #lists.isEmpty(locationInfo.upcomingEvents)}">
                                    <strong>Other bookings today</strong></h6>
                                <h6 class="text-center" th:if="${#lists.isEmpty(locationInfo.upcomingEvents)}">No more
                                    scheduled events today</h6>

                                <div class="row justify-content-md-center">
                                    <div class="col-md-6">
                                        <table class="table" th:if="${not #lists.isEmpty(locationInfo.upcomingEvents)}">
                                            <thead>
                                                <th class="text-center h6">Starts at</th>
                                                <th class="text-center h6">Ends at</th>
                                            </thead>
                                            <tbody>
                                                <tr th:each="event: ${locationInfo.upcomingEvents}">
                                                    <td th:text="${event.startDateTimeStr}" class="text-center h6"></td>
                                                    <td th:text="${event.endDateTimeStr}" class="text-center h6"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3" th:if="${locationInfo.location.qrCodeURI}">
                            <div class="container d-flex h-100" style="padding: 0;">
                                <div class="row align-items-center">
                                    <div class="col-12" style="padding: 0;">
                                        <img class="img-fluid" th:src="${locationInfo.location.qrCodeURI}"
                                            aria-label="QR code pointing towards ${locationInfo.location.qrCodeURI}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        window.setTimeout(function () {
            window.location.reload();
        }, 60000);
    </script>
</body>

</html>